
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WhyBlog</title>


    <environment include="Development">
        <!--开发环境-->
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/iconfont.css" asp-append-version="true" />
        <link href="~/css/component.css" rel="stylesheet" asp-append-version="true" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    </environment>

    <environment exclude="Development">
        <!--线上环境-->
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/iconfont.css" asp-append-version="true" />
        <link href="~/css/component.css" rel="stylesheet" asp-append-version="true" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    </environment>
    @RenderSection("head", required: false)
</head>
<body>
    <div class="header">
        <div class="title"><span>Why-Blog</span></div>
      
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <div class="loading"></div>
    </div>
    <div class="alert-default"><span>dsadad</span></div>
    <script>
        //config register
        var _config = {};
        _config.rootpath='@Model.RootPath';
    </script>
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>


    @RenderSection("Scripts", required: false)
</body>
</html>
